

/*contariner*/
.page{
  max-width: 800px;
  margin: 0 auto;
  box-shadow: 0px 0px 16px rgb(199, 197, 197);
  border-radius: 8px;
  padding: 12px 28px;
  color: #6c6c6c;
  box-sizing: border-box;
};

.title{
  width:500px;
  margin: 0 auto;
  background: gray;
  text-align: center;
};


/*表單區塊 form*/
.messageForm{
  margin-top: 16px;
  font-size: 18px;
};

.messageTextArea{
  display: block;
  margin-top: 8px;
  width: 95%;
  border-color: rgba(0, 0, 0, 0.125);
};

.submitButton{
  margin-top: 8px;
  color: #ddd;
  background-color: #343a40;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 16px;
  padding: 6px 12px;
};

/*顯示留言區塊*/
.messageBlock{
  margin-top: 16px;
};

.messageContainer{
  border: 1px solid rgba(0, 0, 0, 0.125);
  padding: 16px;
  border-radius: 4px;
};

.messageHead{
  display: flex
};

.messageAuthor{
  margin-right: 12px;
  color: #232323;
};

.messageBody{
  margin-top: 8px;
  word-break: break-all;
  white-space: pre-line;
};